<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kenschenke.broncocast">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BroncoCastApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PhoneContactActivity"></activity>
        <activity android:name=".EmailContactActivity" />
        <activity android:name=".BroadcastDetailActivity" />
        <activity android:name=".ForgotPasswordStepTwoActivity" />
        <activity android:name=".ForgotPasswordStepOneActivity" />
        <activity android:name=".RegistrationStepTwoActivity" />
        <activity android:name=".RegistrationStepOneActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".CheckAuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".BroncoCastFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>